{% extends 'base.html' %}

{% block content %}
	<div class="col-sm-4 tc">
        <img class="img img-circle" src="{{ image_file }}" height="200px" width="200px">
        <div class="media-body">
            <h2 class="account-heading"><span style="font-family: 'Kirang Haerang', cursive;">{{ current_user.username.upper() }}</span></h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <div class="col-sm-8">
    	<form method="post" enctype="multipart/form-data">
			{{ form.hidden_tag() }}

			<div class="form-group">
				{{ form.username.label }}
				{% if form.username.errors %}
					{{ form.username(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.username.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.username(class="form-control ci") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.email.label }}
				{% if form.email.errors %}
					{{ form.email(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email(class="form-control ci") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.picture.label }}
                {{ form.picture(class="form-control-file  ci") }}
				{% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                     	<span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
			</div>

			<div class="form-group">
				{{ form.submit(class="btn btn-default cb mt-5")}}
				 <br>
				
				<a href="{{ url_for('upload_resume') }}" class="btn btn-default cb mt-5"> Update Resume?</a>
				 <br>
				<a href="{{ url_for('resume_details') }}" class="btn btn-default cb mt-5"> Add Resume Fields?</a>
				<br>
				<a href="{{ url_for('update_user_details') }}" class="btn btn-default cb mt-5"> Update Personal Details?</a>
				
			</div>
		</form>


    </div>
{% endblock %}