<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% block title %} {{ title }} {% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" >

	{{ moment.include_jquery() }}
	{{ moment.include_moment() }}
	<link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">


	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

	<!-- Optional theme -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
</head>
<body style="font-family: 'Roboto Condensed', sans-serif;">

	<!-- header section -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  	<div class="container">
	    	<!-- Brand and toggle get grouped for better mobile display -->
	    	<div class="navbar-header">
	      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        		<span class="sr-only">Toggle navigation</span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	      		</button>
	      		<a class="navbar-brand" href="{{ url_for('home') }}"><span style="font-family: 'Kirang Haerang', cursive;">PORTFOLIO.COM</span></a>
	    	</div>

	    	<!-- Collect the nav links, forms, and other content for toggling -->
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	      		<ul class="nav navbar-nav">
	      			{% if current_user.is_authenticated %}
	        		<li class=""><a href="{{ url_for('account') }}"><i class="fas fa-user"></i> {{ current_user.username }}</a></li>
	        		{% endif %}
	      		</ul>

	      		

	      		<ul class="nav navbar-nav navbar-right">
	      			{% if current_user.is_authenticated %}
	        		<li><a href="{{ url_for('resume') }}"><i class="fas fa-file"></i> Resume</a></li>
	        		<!-- <li><a href="#">About Us</a></li> -->
	        		<li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
	        		<li class=""><a href="#"> | </a></li>

	      			
	      			<li>
                        <a href="{{ url_for('messages') }}"><i class="fas fa-envelope"></i> 
                            {{ 'Messages' }}
                            {% set new_messages = current_user.new_messages() %}
                            	<span id="message_count" class="badge"
                                  style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">
                                {{ new_messages }}
                            </span>
                        </a>
                    </li>
	        		<li class=""><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
	        		{% else %}
	        		<li class=""><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
	        		{% endif %}
	      		</ul>

	      		<form class="navbar-form navbar-right" style="opacity: .7; margin-top: 11px; " method="post" action="{{ url_for('search_user') }}">
	        		<div class="form-group">
	          			<input type="text" name="username" class="form-control input-sm  ci" placeholder="Search">
	        		</div>
	        		<button type="submit" class="btn btn-default btn-sm ci"><i class="fas fa-search"></i></button>
	      		</form>


	    	</div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
	<!-- end of header section -->

	<div class="container mt-100">
		<div class="row">

			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for categorie, message in messages %}
						<div class="alert alert-{{ categorie }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}

			{% block content %}
			{% endblock %}
		</div>
	</div>
	<div style="height: 80px;"></div>

	<!-- bottom section -->
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
	  	<div class="container">
	    	<!-- Brand and toggle get grouped for better mobile display -->
	    	<div class="navbar-header">
	      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
	        		<span class="sr-only">Toggle navigation</span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	      		</button>
	      		<a class="navbar-brand" href="#">Portfolio.com</a>
	    	</div>

	    	<!-- Collect the nav links, forms, and other content for toggling -->
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

	      		<ul class="nav navbar-nav">
	        		<li><a href="#">Admin@admin.com</a></li>
	      		</ul>


	      		<ul class="nav navbar-nav navbar-right">
	        		<li><a href="#">Create your own Portfolio</a></li>
	        		<li><a href="#">Contact Us</a></li>
	      		</ul>

	    	</div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>

	<!-- end of bottom section -->
	<script>
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_message_count')
                                set_message_count(notifications[i].data);
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}
    </script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>

    
</body>
</html>