{% extends 'base.html' %}

{% block content %}
	<div class="col-sm-8">
		<form method="post">
			{{ form.hidden_tag() }}

			<h1><span style="font-family: 'Kirang Haerang', cursive;">Send Message to </span> "{{ 'Admin' }}"</h1>

			<div class="form-group">
				{{ form.subject.label }}
				{% if form.subject.errors %}
					{{ form.subject(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.subject.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.subject(class="form-control ci") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.body.label }}
				{% if form.body.errors %}
					{{ form.body(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.body.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.body(class="form-control ci") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.submit(class="btn btn-default cb")}}
				
			</div>
		</form>
	</div>
	
{% endblock %}